<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ABPBlog.Web.Public</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/materialize/css/materialize.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/materialize/css/materialize.min.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    </environment>
    <style>
        .top {
            margin-left: 10%;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body>
    <nav style="padding:0 2% 0 2%">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="hide-on-med-and-down top">
                <li><a href="Home">主页</a></li>
                <li><a href="images">相册</a></li>
                <li><a href="About">关于</a></li>
            </ul>
            <ul class="hide-on-med-and-down right">
                <li><a href="">登录</a></li>
                <li><a href="">注册</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col m12">
                    <h5 class="white-text">友情链接</h5>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/materialize/js/materialize.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/materialize/js/materialize.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
