@{
    ViewData["Title"] = "Home Page";
}

@section styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/swipebox/src/css/swipebox.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/swipebox/src/css/swipebox.min.css" asp-append-version="true" />

    </environment>

}

@section scripts{
    <environment names="Development">
        <script src="~/lib/swipebox/src/js/jquery.swipebox.js" asp-append-version="true"></script>
        <script src="~/view-resources/home/index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/swipebox/src/js/jquery.swipebox.min.js" asp-append-version="true"></script>

    </environment>
    <script type="text/javascript">
        $(function () {
            $(".swipebox").swipebox();
        })
    </script>
}
    <div class="container">
        <div class="header-bottom">
            <div class="container">
                <div class="text-center">
                    <h1>婚礼倒计时</h1>
                </div>
                <ul class="countdown">
                    <li>
                        <span class="days">00</span>
                        <p class="">天</p>
                    </li>
                    <li class="seperator">.</li>
                    <li>
                        <span class="hours">00</span>
                        <p class="">时</p>
                    </li>
                    <li class="seperator">:</li>
                    <li>
                        <span class="minutes">00</span>
                        <p class="">分</p>
                    </li>
                    <li class="seperator">:</li>
                    <li>
                        <span class="seconds">00</span>
                        <p class="">秒</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="portfolio-content">
            <!-- portfolio -->
            <div class="portfolio-section" id="portfolio">
                <ul id="filters" class="clearfix">
                    <li><span class="filter active" data-filter="app card icon logos web">全部</span></li>
                    <li><span class="filter" data-filter="app">亲子</span></li>
                    <li><span class="filter" data-filter="card">情侣</span></li>
                    <li><span class="filter" data-filter="icon">旅游</span></li>
                    <li><span class="filter" data-filter="logos">其他</span></li>
                </ul>
                <div id="portfoliolist">
                    <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="fa fa-search"> </span> </a>								</a>

                        </div>
                    </div>
                    <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>

                    </div>
                    <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio logos mix_all wow bounceIn" data-wow-delay="0.4s" data-cat="logos" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio logos mix_all wow bounceIn" data-wow-delay="0.4s" data-cat="logos" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                            <a href="~/images/js.jpg" class="swipebox" title="Image Title"> <img src="~/images/js.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>